<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% extends 'base.html' %}


    {% block content %}

    {% load crispy_forms_tags %}
    <div class="card shadow-lg p-3 mb-5 bg-white ">
        <div class="card-header text-center">
            <b class="" style="color:#003399; ;">{% block title %}Sent You{% endblock title %}</b>
        </div>
        <div class="card-body text-center d-flex justify-content-center align-items-center flex-column">




            <h1 style="color:#003399 ; font-family: 'Bellota' , cursive;">Check your inbox.</h1>
            <p style="color:#003399 ; font-family: 'Bellota' , cursive;">We've emailed you instructions for setting your
                password.
                You should receive the email shortly!</p>


        </div>
    </div>

    {% endblock content %}

</body>

</html>